<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <title>About</title>
</head>
<body>
  <!-- header -->
  <header>
    <h1>kathleen hanna</h1>
    <nav class="navbar justify-content-center navbar-expand-sm">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
      </ul>
    </nav>
  </header> 
  <!-- main -->
  <main>
    <section class="info bio">
      <p>Kathleen Hanna (Portland, Oregon, Estados Unidos, 12 de noviembre de 1968), 
        es una música, activista, y escritora Estadounidense. En la década de 1990 fue 
        la cantante líder de <strong>Bikini Kill</strong>, función que desde el inicio desempeña en la 
        banda synthpunk <strong>Le Tigre</strong>. En 1998, Hanna lanzó un álbum en solitario bajo el 
        título de Julie Ruin. Hanna ha contribuido muy activamente a la reactivación de 
        un feminismo honesto y es considerada una de los principales íconos líderes del 
        movimiento <strong>Riot Grrrl</strong> de la década de 1990. Kathleen ha colaborado con una amplia 
        variedad de músicos, apareciendo en las grabaciones de numerosos artistas, como 
        Atari Teenage Riot, Sonic Youth, Joan Jett, The Rickets, Internal/External y Mike Watt.</p>
    </section>
    <section class="info flexi">
      <h2>Some info</h3>
      <ul>
        <li class="list-inline"><strong>1968</strong> - Borned in Portland, Oregon.</li>
        <li class="list-inline"><strong>1988</strong> - Begginer of the Riot Grrrl movement.</li>
        <li class="list-inline"><strong>1990</strong> - Lead singer of feminist punk band Bikini Kill.</li>
        <li class="list-inline"><strong>1991</strong> -  The Bikini Kill Zine was born with the desire to present "feminist issues through a punk rock lens.</li>
        <li class="list-inline"><strong>1998</strong> - Hanna released a lo-fi solo album under the name Julie Ruin.</li>    
        <li class="list-inline"><strong>1999</strong> - Released the first Le Tigre album.</li>
        <li class="list-inline"><strong>1994</strong> - Hanna appears in the Sonic Youth video "Bull in the Heather".</li>
        <li class="list-inline"><strong>2006</strong> - Married Adam Horovitz (Beastie Boys singer)</li>
        <li class="list-inline"><strong>2009</strong> - Fales Library, at New York University, create a Riot Grrrl Collection.</li>
        <li class="list-inline"><strong>2013</strong> - Hanna returns to "The Julie Ruin" project</li>
        <li class="list-inline"><strong>2013</strong> - Hanna was released by director Sini Anderson, titled The Punk Singer, detailing Hanna's life and career.</li>
      </ul>
      </section>
  </main>
  <footer>
    <span class="fa fa-flash"></span>
    <div>
      <p class="text-center small">You can find more info checking her website<br> 
      <a href="http://www.kathleenhanna.com/" target="_blank">http://www.kathleenhanna.com/</a></p>
    </div>
    <span class="fa fa-flash"></span>
  </footer>
</body>
</html>