<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <title>Home</title>
</head>
<body>
  <!-- header -->
  <header>
    <h1>kathleen hanna</h1>
    <nav class="navbar justify-content-center navbar-expand-sm">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
      </ul>
    </nav>
  </header> 
  <!-- main -->
  <main>
    <div class="herounit">
    </div>
    <section>
      <h2>The punk singer</h2>
      <blockquote cite="http://girltalkhq.com/we-love-riot-grrrl-kathleen-hannas-opinion-on-pop-stars-and-feminism/">
        <p><strong>“</strong> I definitely think feminism is more relevant than ever, and riot grrrl was an 
          offshoot of feminism that was independent, punk rock, DIY. But I don’t like the idea of it being 
          fetishized or historicized in a way that leaves out the flaws. I don’t like the idea of having the 
          same mistakes repeated <strong>”</strong></p>
        <p class="small">said <strong>Kathleen</strong> on feminism today</p>
      </blockquote>
    </section>
  </main>
  <footer>
    <span class="fa fa-flash"></span>
    <div>
      <p class="text-center small">You can find more info checking her website<br> 
      <a href="http://www.kathleenhanna.com/" target="_blank">http://www.kathleenhanna.com/</a></p>
    </div>
    <span class="fa fa-flash"></span>
  </footer>
</body>
</html>